h1, h2, h3 { text-align: center; }

body, h1, h2, h3, table, tr, td { font-family: arial, helvetica, sans-serif; }

h1 { font-size: 3em; }

body, h2, h3, table, tr, td { font-size: 1.5em; }

body { background-color: white;
       background-image: url(logo2.gif);
       background-repeat: no-repeat; }

tt { font-size: 1.1em; font-family: "courier new", courier; }

ul { margin-left: 25%; margin-right: 25%; }
ul ul { margin-left: 0%; margin-right: 0%; }

p, ol { margin-left: 10%; margin-right: 10%;
	margin-bottom: 0; }

.quote { margin-left: 15%; margin-right: 15%; 
         font-style: italic; }

.attrib { margin-left: 25%; margin-right: 25%; 
	  margin-top: 0;
	  text-align: right; }

table.plug {
  font-size: 1em;
}

table.footer {
  font-size: 0.5em;
  position: fixed;
  bottom: 10px;
}

